<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>
<%= image_tag("https://lh4.googleusercontent.com/8JwkmJeQQu34BaVBZmulR8o7vG_P8mQC-P25sqXigkc=s400-no", :alt => "About: Selfie with Chris") %>